h1, .photos {
  padding: 5px;
}

footer {
  padding: 20px 5px;
}

#example-photo-1 img {
  box-shadow: 8px 8px 10px #383838;
  margin: 15px;
  max-width: 500px;
  padding: 5px;
}

#example-photo-2 img {
  border: 15px double #803315;
  border-radius: 25px;
  margin-bottom: 15px;
  max-width: 500px;
  padding: 5px;
}

#example-photo-3 img {
  border: 15px solid #551800;
  margin-bottom: 15px;
  max-width: 500px;
  padding: 5px;
}
